<div ng-controller="assignmentViewController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="p-20">
                    <div class="card-body">
                        <img src="assets/img/icon-set-png/desk-lamp.png" alt="" class="su_icon"><span class="form_title">ASSIGNMENT QUIZ</span>
                        <hr>
                        <ul class="landing-page two_button_switch-container cancel_factory" role="tablist">
                            <li role="presentation" class="active button_switch-item" href="#quiz" role="tab" data-toggle="tab" aria-expanded="true">
                                <a class=" landing-page">
                                INTERNAL EXAMINATION
                            </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class=" tab-pane animated fadeIn active" id="quiz-question">
                                <form>
                                    <div class="form-group">
                                        <h4 class="text-muted center">07/07/2016</h4>
                                    </div>
                                    <div class="form-group i-w-hr">
                                        <div class="horizontal-line"></div>
                                        <span class="field-label visibility p-l-30">Quiz question</span>
                                    </div>
                                    <div>
                                        <div class="listview">
                                            <div class="lv-body modal-view c-overflow question" id="quiz-question">
                                                <div id="quiz-block">
                                                    <div class="borderd m-b-10">
                                                        <div class="question_holder default">
                                                            <div class="modal-view question m-b-10">
                                                                <p class="text-justify">
                                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                                </p>
                                                                <ul class="cancel_factory">
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                                <input type="hidden" class="corectvalue-holder">
                                                                            </label>
                                                                            <p>This is to say you are right</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                            </label>
                                                                            <p>You must be kidding me</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                                <input type="hidden" class="corectvalue-holder">
                                                                            </label>
                                                                            <p>Am i smilling with you</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <hr />
                                                            <div class="modal-view question m-b-10">
                                                                <p class="text-justify">
                                                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                                                </p>
                                                                <ul class="cancel_factory">
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                                <input type="hidden" class="corectvalue-holder">
                                                                            </label>
                                                                            <p>This is to say you are right</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                            </label>
                                                                            <p>You must be kidding me</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="answer__option--item">
                                                                        <div class="answer__input--holder flex">
                                                                            <label class="answer__input--list cancel_factory">
                                                                                <input type="checkbox" name="correct_answer[]" class="correct_answer-tick">
                                                                                <span></span>
                                                                                <input type="hidden" class="corectvalue-holder">
                                                                            </label>
                                                                            <p>Am i smilling with you</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group landing-page-footer-modalright">
                                        <button type="submit" class="btn landing-page waves-effect" data-dismiss="modal" style="margin-right: 15px; background-color: #9B9B9B;">CANCEL</button>
                                        <button type="submit" class="btn landing-page wa
                                    ves-effect">SUBMIT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
